
/*  REGOLE GENERALI   */
*{
  padding: 0;
  margin: 0;box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
i{
  color: grey;
  font-size: 18px;
}
h1{
  font-size: 15px;
}
p{
  font-size: 12px;
  color: lightgrey;
}
a{
  text-decoration: none;
}

/*   COLORI SFONDO   */
.high-bar{
  height: 20vh;
  width: 100%;
  background-color: blue;
  position: absolute;
  z-index: 0;
}
.low_bar{
  background-color: lightgrey;
  height: 100vh;
}


/*   CONTAINER WEB APP   */
#app{
  width: 80%;
  height: 90vh;
  margin-left: 10%;
  margin-top: 5vh;
  display: flex;
  z-index: 1;
}
.left{
  width: 35%;
  background-color: white;
  overflow: auto;
  scrollbar-width: none;
}
.right{
  width: 65%;
  overflow: hidden;
}

/*   PARTE SINISTRA WEB APP */
header{
  height: 60px;
  display: flex;
  background-color:	#EEE5DE;
  border-right: 1px solid grey;
}
.foto{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.impostazioni{
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.foto img{
  width: 25%;
  height: 90%;
  border-radius: 100%;
  margin: 3px 10px;
}
.foto h1{
  display: flex;
  align-items: center;
}
.impostazioni a{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

/*   NOTIFICHE */
.notifiche{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: #40E0D0;
  overflow: hidden;
}
.notifiche i{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  color: #6495ED;
  border-radius: 100%;
  background-color: white;
}
.notifiche a{
  font-size: 12px;
  color: blue;
}
.notifiche a:nth-child(2){
  text-decoration: underline;
}

/*   SEARCH CHAT   */
.search{
  display: flex;
  height: 50px;
  width: 100%;
  background-color: 	#EEE5DE;
  overflow: hidden;
}
.search h2{
  color: grey;
  margin-left: 20px;
  font-weight: 200;
  font-size: 12px;
}
.search_box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 94%;
  margin-left: 3%;
  height: 70%;
  margin-top: 2%;
  border-radius: 7px;
  background-color: white;
  overflow: hidden;
}
.search_box input{
  border: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.search i{
  margin-left: 10px;
}

/*   TUTTE LE CHAT   */

.chat{
  overflow: scroll;
  max-height: 400px;
  scrollbar-width: none;
}
.chat::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.anteprima_chat{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  transition: all;
}
.anteprima_chat:hover{
  cursor: pointer;
}
.attivo{
  background-color: lightgrey;
  opacity: 0.8;
}
.chat img{
  height: 50px;
  width: 15%;
  margin: 5px 20px;
  border-radius: 100%;
}
.chat p{
  color: grey;
  margin-top: 5px;
}
.nome{
  width: 15%;
}
.nome p{
  width: 120px;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ultimo_accesso{
  margin-left: 90px;
}
.ultimo_accesso p{
  font-size: 12px;
}

/*  PARTE DESTRA WEB APP */
.right{
  height: 100%;
  background-image: url(../img/mine.jpg);
}
.chat_attiva{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 52%;
  background-color:#EEE5DE;
  position: fixed;
  overflow: hidden;
}
.info_contatto{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.info_contatto img{
  width: 16%;
  border-radius: 100%;
  margin:  10px;
  height: 90%;
}
.info_contatto p{
  color: grey;
  font-weight: 600;
  margin-top: 3px;
}
.impostazioni_contatto{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
  padding-right: 10px;
}

/*   MESSAGGI CHAT ATTIVA */
.messaggi{
  display: inline-block;
  width: 100%;
  max-height: 70vh;
  margin-top: 10%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-size: 100px 100px;
}
.messaggi::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.messaggi p{
  font-size: 15px;
  color: black;
}
.messaggi_inviati{
  max-width: 50%;
  min-width: 30%;
  min-height: 50px;
  border-radius: 15px;
  float: right;
  clear: both;
  background-color: lightgreen;
  margin-right:40px;
  padding: 10px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
}
.messaggi_ricevuti{
  max-width: 40%;
  min-width: 30%;
  min-height: 50px;
  border-radius: 15px;
  float: left;
  clear: both;
  background-color: white;
  margin-left: 40px;
  padding: 10px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
}
.messaggi p{
  font-size: 15px;
}
.dropdown {
    display: none;
    position: absolute;
    height: 60px;
    width: 170px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-top: -40px;
}
.dropdown p{
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}
.dropOn {
    display: block;
}
.dropdown > p:hover {
    cursor: pointer;
    font-size: 16px;
}
.messaggi  i:hover {
    cursor:  pointer;
}

.ora_invio{
  color: grey;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}
.new_message{
  max-width: 50%;
  min-width: 30%;
  min-height: 50px;
  border-radius: 15px;
  float: right;
  clear: both;
  background-color: lightgreen;
  margin-right:40px;
  padding: 10px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 15px;
}




/*   INPUT INVIO MESSAGGI */
.send_message{
  height: 50px;
  width: 52%;
  position: fixed;
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEE5DE;
}
.emoji{
  width: 10%;
  display: flex;
  justify-content: center;
}
.send{
  width: 80%;
}
.send input{
  font-size: 15px;
  color: grey;
  font-weight:500;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  height: 50px;
}
.vocal{
  width: 10%;
  display: flex;
  justify-content: center;
}



/*   MEDIA QUERY   */

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }
  i{
    font-size: 15px;
  }
  .messaggi_inviati{
    font-size: 15px;
  }
  .messaggi_ricevuti{
    font-size: 15px;
  }
}


@media screen and (max-width: 850px) {
  h1 {
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
  i{
    font-size: 14px;
  }
  .notifiche a{
    font-size: 10px;
  }
  .search input{
    font-size: 12px;
  }
  .ultimo_accesso {
    margin-left: 70px;
    overflow: hidden;
  }
  .ultimo_accesso p{
    font-size: 10px;
  }
  .messaggi_inviati{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .messaggi_ricevuti{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .foto img{
    margin-top: 10px;
  }
  .left img{
    height: 40px;
    width: 40px;
  }
  .chat_attiva img{
    height: 40px;
    width: 40px;
  }
  .send input{
    height: 40px;
  }
}
