<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div class="container">
      <div class="high-bar">
      <div id="app">

        <!--    INIZIO PARTE SINISTRA WEB APP   -->
        <div class="left">
          <header>
            <div class="foto">
              <img :src="utente.immagine" alt="">
              <h1>{{utente.nome}}</h1>
            </div>
            <div class="impostazioni">
              <a href="#"><i class="fas fa-circle-notch"></i></a>
              <a href="#"><i class="fas fa-comment-alt"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </header>

          <!--   NOTIFICHE   -->
          <div class="notifiche">
            <a href="#"><i class="far fa-bell-slash"></i></a>
            <div class="notifiche_testo">
              <h1>Ricevi notifiche di nuovi messaggi</h1>
              <a href="#">Attiva nuove notifiche desktop</a>
            </div>
          </div>

          <!--   SEARCH CHAT  -->
          <div class="search">
            <div class="search_box">
              <a href="#"> <i class="fas fa-search"></i></a>
              <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>

          <!--   TUTTE LE CHAT   -->
          <div class="chat" v-for="(element, i) in chat" @click="chatActive(i)" >
            <div class="anteprima_chat" :class="{attivo: i === active}">
              <img :src="element.immagine" alt="">
              <div class="nome">
                <h1>{{element.nome}}</h1>
                <p>{{element.testo}}</p>
              </div>
              <div class="ultimo_accesso">
                <p>{{element.ultimo_accesso}}</p>
              </div>
            </div>
          </div>
        </div>

        <!--   INIZIO PARTE DESTRA WEB APP -->
        <div class="right">
          <div class="chat_attiva" v-for="(element, i) in chat[active]">
            <div class="info_contatto">
              <img :src="chat[active].immagine" alt="">
              <div>
                <h1>{{chat[active].nome}}</h1>
                <p>Ultimo accesso il {{chat[active].ultimo_accesso}}</p>
              </div>
            </div>
            <div class="impostazioni_contatto">
              <a href="#"><i class="fas fa-search"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <!--   MESSAGGI CHAT ATTIVA -->
          <div class="messaggi" >
            <div v-for="(element, i) in chat[active].messaggi" :class="(element.type === 'send')?'messaggi_inviati' : 'messaggi_ricevuti' ">
              {{element.text}}
              <div class="ora_invio">
                {{element.time}}
              </div>
            </div>
          </div>

          <!--   INPUT INVIO MESSAGGIO -->
          <div class="send_message" v-for="(element, i) in chat[active].messaggi">
            <div class="emoji">
              <a href="#"><i class="far fa-laugh"></i></a>
            </div>
            <div class="send">
              <input type="text" name="" value="" placeholder="Scrivi un messaggio" @keyup.enter="addMessage" v-model="messaggioInserito">
            </div>
            <div class="vocal">
              <a href="#"><i class="fas fa-microphone" @click="addMessage"></i></a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="low_bar">
      </div>
    </div>













    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
